<h2 id="exercises-part-i">Exercises Part I</h2>
<p>Make a file named <code>pandas_series.py</code> or <code>pandas_series.ipynb</code> for the following exercises.</p>
<p>Use pandas to create a Series named fruits from the following list:</p>
<pre><code>    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
</code></pre>
<p>Use Series attributes and methods to explore your fruits Series.</p>
<ol>
<li>
<p>Determine the number of elements in fruits.</p>
</li>
<li>
<p>Output only the index from fruits.</p>
</li>
<li>
<p>Output only the values from fruits.</p>
</li>
<li>
<p>Confirm the data type of the values in fruits.</p>
</li>
<li>
<p>Output only the first five values from fruits. Output the last three values. Output two random values from fruits.</p>
</li>
<li>
<p>Run the <code>.describe()</code> on fruits to see what information it returns when called on a  Series with string values.</p>
</li>
<li>
<p>Run the code necessary to produce only the unique string values from fruits.</p>
</li>
<li>
<p>Determine how many times each unique string value occurs in fruits.</p>
</li>
<li>
<p>Determine the string value that occurs most frequently in fruits.</p>
</li>
<li>
<p>Determine the string value that occurs least frequently in fruits.</p>
</li>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rc('figure')

In [2]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [3]:
# 1. Determine the number of elements in fruits.

fruits.size

17

In [4]:
# 2. Output only the index from fruits.

fruits.index

RangeIndex(start=0, stop=17, step=1)

In [5]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [6]:
#3. Output only the values from fruits.

fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [7]:
# 4. Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [8]:
#5. Output only the first five values from fruits. 

fruits.head(5)

# Output the last three values. 

fruits.tail(3)

#Output two random values from fruits.

fruits.sample(2)

13     blueberry
2     strawberry
dtype: object

In [9]:
#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [10]:
#7. Run the code necessary to produce only the unique string values from fruits.
#8. Determine how many times each unique string value occurs in fruits.
#9. Determine the string value that occurs most frequently in fruits.
#10.Determine the string value that occurs least frequently in fruits.

fruits.value_counts()

kiwi                4
mango               2
honeycrisp apple    1
papaya              1
watermelon          1
blueberry           1
blackberry          1
tomato              1
pineapple           1
gala apple          1
honeydew            1
gooseberry          1
strawberry          1
dtype: int64

In [11]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [12]:
fruits.nunique()

13

In [13]:
# 8. Determine how many times each unique string value occurs in fruits.

fruits.value_counts()

kiwi                4
mango               2
honeycrisp apple    1
papaya              1
watermelon          1
blueberry           1
blackberry          1
tomato              1
pineapple           1
gala apple          1
honeydew            1
gooseberry          1
strawberry          1
dtype: int64

In [14]:
#9. Determine the string value that occurs most frequently in fruits.

fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [15]:
#index of max value
fruits.value_counts().idxmax()

'kiwi'

In [16]:
# What if multiple tied max?

fruits.value_counts().nlargest(n = 1, keep = 'all')

kiwi    4
dtype: int64

In [17]:
#10.Determine the string value that occurs least frequently in fruits.

fruits.value_counts().tail(1)

strawberry    1
dtype: int64

In [18]:
fruits.value_counts().nsmallest(n = 1, keep = 'all')

honeycrisp apple    1
papaya              1
watermelon          1
blueberry           1
blackberry          1
tomato              1
pineapple           1
gala apple          1
honeydew            1
gooseberry          1
strawberry          1
dtype: int64

<h2 id="exercises-part-ii">Exercises Part II</h2>
<p>Explore more attributes and methods while you continue to work with the fruits Series.</p>
<ol>
<li>
<p>Capitalize all the string values in fruits.</p>
</li>
<li>
<p>Count the letter "a" in all the string values (use string vectorization).</p>
</li>
<li>
<p>Output the number of vowels in each and every string value.</p>
</li>
<li>
<p>Write the code to get the longest string value from fruits.</p>
</li>
<li>
<p>Write the code to get the string values with 5 or more letters in the name.</p>
</li>
<li>
<p>Use the <code>.apply</code> method with a lambda function to find the fruit(s) containing the letter <code>"o"</code> two or more times.</p>
</li>
<li>
<p>Write the code to get only the string values containing the substring "berry".</p>
</li>
<li>
<p>Write the code to get only the string values containing the substring "apple".</p>
</li>
<li>
<p>Which string value contains the most vowels?</p>
</li>
</ol>

1. Capitalize all the string values in fruits.

In [23]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [27]:
fruits.str.count('a').sum()

14

3. Output the number of vowels in each and every string value.

In [56]:
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

4. Write the code to get the longest string value from fruits.

In [70]:
fruits[fruits.str.len() == max(fruits.apply(len))]

5    honeycrisp apple
dtype: object

In [71]:
#idxmax - index max useful
fruits[fruits.str.len().idxmax()]

'honeycrisp apple'

5. Write the code to get the string values with 5 or more letters in the name.

In [49]:
fruits[fruits.str.len()>5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Use the `.apply` method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [53]:
fruits[fruits.apply(lambda row: row.count('o') >=2)]

6         tomato
15    gooseberry
dtype: object

In [73]:
fruits[fruits.str.count('o') >1]

6         tomato
15    gooseberry
dtype: object

7. Write the code to get only the string values containing the substring "berry".

In [72]:
fruits[fruits.apply(lambda row: row.count('berry') >=1)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [75]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8. Write the code to get only the string values containing the substring "apple".

In [54]:
fruits[fruits.apply(lambda row: row.count('apple') >=1)]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [76]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9. Which string value contains the most vowels?

In [69]:
fruits[fruits.str.count('[aeiou]') == max(fruits.str.count('[aeiou]'))]

5    honeycrisp apple
dtype: object

In [81]:
fruits[fruits.str.count('[aeiou]').idxmax()]

'honeycrisp apple'

<h2 id="exercises-part-iii">Exercises Part III</h2>
<p>Use pandas to create a Series named letters from the following string:</p>
<pre><code>    'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
</code></pre>

In [99]:
letters = pd.Series(list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'))

In [100]:
letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

1. Which letter occurs the most frequently in the letters Series? </p>

In [104]:
# Can do this 26 times, or write a loop




letters.str.count('a').sum()

8

In [115]:
alpha = list('abcdefghijklmnopqrstuvwxyz')
alpha

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [117]:
letter_counts = []

In [120]:
for x in alpha:
    letter_counts.append(x)
    letter_counts.append(letters.str.count(x).sum())

letter_counts

['a',
 8,
 'b',
 9,
 'c',
 8,
 'd',
 8,
 'e',
 6,
 'f',
 6,
 'g',
 5,
 'h',
 8,
 'i',
 5,
 'j',
 6,
 'k',
 9,
 'l',
 4,
 'm',
 9,
 'n',
 9,
 'o',
 8,
 'p',
 12,
 'q',
 8,
 'r',
 8,
 's',
 5,
 't',
 7,
 'u',
 7,
 'v',
 7,
 'w',
 10,
 'x',
 8,
 'y',
 13,
 'z',
 7,
 'a',
 8,
 'b',
 9,
 'c',
 8,
 'd',
 8,
 'e',
 6,
 'f',
 6,
 'g',
 5,
 'h',
 8,
 'i',
 5,
 'j',
 6,
 'k',
 9,
 'l',
 4,
 'm',
 9,
 'n',
 9,
 'o',
 8,
 'p',
 12,
 'q',
 8,
 'r',
 8,
 's',
 5,
 't',
 7,
 'u',
 7,
 'v',
 7,
 'w',
 10,
 'x',
 8,
 'y',
 13,
 'z',
 7]

2. Which letter occurs the Least frequently?'

3. How many vowels are in the Series?

4. How many consonants are in the Series?

5. Create a Series that has all of the same letters but uppercased.

6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.